<?xml version="1.0"?>
<ruleset name="controlling">
    <description>The controlling coding standard.</description>

    <file>src</file>
    <file>tests</file>

    <!--arg name="report" value="summary"/-->
    <arg name="colors"/>
    <arg value="sp"/>

    <rule ref="Brainbits">
        <exclude name="Brainbits.Exception.GlobalException.GlobalException" />
        <exclude name="Squiz.Classes.ValidClassName.NotCamelCaps" />
        <exclude name="Squiz.NamingConventions.ValidVariableName.NotCamelCaps" />
    </rule>
</ruleset>
