parameters:
    level: 1
    paths:
        - src
        - tests
    scanFiles:
        - src/functions.php

includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

